<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/73fcdb0e85.js" crossorigin="anonymous"></script>
    <title>Contact</title>
</head>

<body>
  {% include 'header.html' %}


<div id="projects-title">
    Contact Me
</div>

<div id="form">
    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-7">
            <div id="form-group">
                <input
                        name="email"
                        type="email"
                        class="form-control"
                        id="email"
                        placeholder="email"
                />
            </div>
            <div id="form-group">
                <input
                        name="subject"
                        type="text"
                        class="form-control"
                        id="subject"
                        placeholder="subject"
                />
            </div>
            <div id="form-group">
                <textarea
                        name="message"
                        class="form-control"
                        rows="5"
                        placeholder="Hi Ayana, I would like to chat with you regarding..."
                ></textarea>
            </div>
            <button type="submit" class="btn btn-default btn-lg">
                Send
            </button>
        </div>
    </div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

<footer class="footer-container text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
              <p>
                Made with Flask and 💜 by <a href="https://github.com/ayredkklc" target="_blank" rel="noopener noreferrer">Derya</a> and Ayana from Toronto, ON. <i class="fas fa-map-marker-alt"></i>
            </p>
            <h4>
                <a href="https://github.com/nanonite9" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"> </a></i>
                <a href="https://linkedin.com/in/ayana-n/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
            </h4>
          </div>
        </div>
    </div>
</footer>

</body>
</html>